extends ../utils/metadata 

mixin getOptions(opt)
    .option
        input.answers(value=opt type='radio' name='option' id=`checkbox-${opt}` for=`option-${opt}`)
        textarea.options(name=`option-${opt}`, id=`option-${opt}`, placeholder="Escribe tu respuesta aquí.")
        i.fas.fa-image

block content
    form#form__question
        fieldset.stepOne(name='part-1')
            legend Parte 1 / 2
        
            label.label-subject(for='subject') Asignatura
            .select
                select#subject.form__select(name="category")
                    each field in asignaturas
                        option(value=`${field}`)=field
                
            label.label-topics(for='topics' list='topics') Temas
            .select
                select#topics
                ul.topics
            label.label-subtopics(for='subtopics' list='subtopics') Subtemas
            .select
                select#subtopics
                ul.subtopics
            label.label-difficulty(for='difficulty') Dificultad 
            .select
                select#difficulty
                    each difficulty in [1,2,3,4,5]
                        option(value=difficulty)=difficulty
            button.nextBtn(type='button') Siguiente
        fieldset.stepTwo.hidden(name='part-2')
            legend Parte 2 / 2
            label(type='text' for="question") Pregunta
            textarea#question( name="question" placeholder="Escribe tu pregunta aquí.")
            each letter in [0,1,2,3]
                +getOptions(letter)
            button.prevBtn(type='button') Atrás
            button(type='submit') Terminar

    script(src='/js/bundle/bundle.js')